
{% extends "html\base.html" %}

    {% block title %}Home{% endblock %}

      {%block content%}
      <div id='section1'>
        <div>
          <a class="btn btn-outline-success" href="/newmoviment" role="button">Adicionar Entrada</a>
          <a class="btn btn-outline-danger" href="/newmoviment" role="button">Adicionar Saída</a>
        </div>
        <br>
        <div class='row'>
          <div class='col'>
            <div class="card" style="width: 15rem;">
              <div class="card-body">
                <h5 class="card-title">Saldo</h5>
                <p class="card-text">R$ {{saldo}}</p>
              </div>
            </div>
          </div>
        
          <div class='col'>
            <div class="card" style="width: 15rem;">
              <div class="card-body">
                <h5 class="card-title">Investimento</h5>
                <p class="card-text">R$ {{saldo}}</p>
              </div>
            </div>
          </div>

          <div class='col'>
            <div class="card" style="width: 15rem;">
              <div class="card-body">
                <h5 class="card-title">Entrada</h5>
                <p class="card-text">R$ {{saldo}}</p>
              </div>
            </div>
          </div>

          <div class='col'>
            <div class="card" style="width: 15rem;">
              <div class="card-body">
                <h5 class="card-title">Saída</h5>
                <p class="card-text">R$ {{saldo}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
</body>
