<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>MyFinance</title>

    <style>
      body {
        position: relative; 
      }
      #section1 {padding-top:70px;height:500px;}
      </style>


</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">MyFinance</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/bank">Bancos</a></li>
            <li><a href="/movimentation">Movimentação</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </nav>

      <div id ="section1" class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="panel panel-info">
              <div class="panel-heading"> <div class="glyphicon glyphicon-usd"></div> <strong>Saldo</strong></div>
              <div class="panel-body text-center">R$ 1.000,00</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-info">
              <div class="panel-heading"> <div class="glyphicon glyphicon-piggy-bank"></div> <strong>Investimento</strong></div>
              <div class="panel-body text-center">R$ 1.000,00</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-success">
              <div class="panel-heading "><div class="glyphicon glyphicon-arrow-up"></div> <strong>Receita</strong></div>
              <div class="panel-body text-center">R$ 1.000,00</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-danger">
              <div class="panel-heading"><div class="glyphicon glyphicon-arrow-down"></div> <strong>Despesa</strong></div>
              <div class="panel-body text-center">R$ 1.000,00</div>
            </div>
          </div>
        </div>

      </div>
    
</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>