<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>MyFinance - {% block title %}{% endblock %}</title>
    <style>
        body {
          position: relative; 
        }
        #section1 {padding-top:70px;height:500px;}
        </style>
  
  
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">MyFinance</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/bank">Bancos</a></li>
            <li><a href="/movimentation">Movimentação</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </nav>
    {% block content %}
    {% endblock %}
</body>
</html>